<h1>My Contacts</h1>
<table>
<tr>
<th>Person</th>
<th>Phone Number</th>
</tr>
<% @contacts.each do |contact| %>
 <tr>
<td>     
  <%= contact.person %>
</td>
<td>
  <%= contact.phonenumber %>
 <td> <%= link_to 'Edit', edit_contact_path(contact) %> |
  <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</td>
</tr>

<% end %>
</table>
<p><%= link_to 'New contact', new_contact_path %></p>

